{% extends "base.html" %}

{% load static i18n humanize %}

{% block title %}{{ block.super }}{% endblock %}


{% block content %}

    <div class="container">

        <h1 class="fs-3 mb-3 pb-3 border-bottom">
            {{ profile }}
        </h1>

        <div class="row">

            <div class="col-12 col-md-8">

                <div id="user-topics-container">

                    {% for topic in topics %}

                        {% include "topics/topics_list_item.html" %}

                    {% empty %}

                        <span class="text-secondary">{% trans "No topic created yet." %}</span>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
