{% load i18n %}
<div class="modal fade" id="recapModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Update recap" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <form id="recapForm">
                    <input type="hidden" name="topic_uuid" value="{{ topic.uuid }}">
                    <div class="mb-3">
                        <label for="recapText" class="form-label">{% trans "Recap" %}</label>
                        <textarea class="form-control" id="recapText" name="recap" rows="8">{% if latest_recap %}{{ latest_recap.recap }}{% endif %}</textarea>
                    </div>
                    <div class="modal-footer px-0">
                        <button type="button" class="btn btn-outline-secondary float-start me-auto" id="fetchRecapSuggestion">
                            <i class="bi bi-stars"></i>
                            {% trans "Get AI suggestions" %}
                        </button>
                        <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

