# To load settings/env/ENV_NAME.py
ENV_NAME=local
DATABASE_USER=user
DATABASE_PASSWORD=password

# Secrets
OPENAI_API_KEY=sk-1234567890
NEWSRADAR_API_KEY=nr_1234567890

# NewsRadar
NEWSRADAR_BASE_URL=https://newsradar.app
NEWSRADAR_TIMEOUT_SECONDS=10
