boto3
bleach
celery[redis]
flower
django
django-ninja
django-recaptcha
django-storages
django-widget-tweaks
feedparser
google-api-python-client
gunicorn
httpx
markdown
numpy
openai
openai-agents
pgvector
pillow
pydantic
psycopg2-binary
python-dotenv
python-slugify
requests
jsonschema
uvicorn[standard]
youtube-transcript-api
yt-dlp
