{% load i18n %}
<div class="my-3{% if edit_mode %} card{% endif %}" id="topicMediaContainer"{% if not youtube_video and not tweets %} style="display: none;"{% endif %}>
    {% if edit_mode %}
        <div class="card-header d-flex align-items-center">
            <h6 class="fs-5 mb-0">{% trans "Media" %}</h6>
        </div>
    {% endif %}
    <div{% if edit_mode %} class="card-body"{% endif %}>
        {% if youtube_video %}
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/{{ youtube_video.video_id }}" title="{{ youtube_video.title }}" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if tweets %}
        <div class="mt-3">
            {% for tweet in tweets %}
                <div class="mb-3">
                    {{ tweet.html|safe }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
