{% load i18n %}
<div class="modal fade" id="youtubeVideoModal" tabindex="-1" aria-labelledby="youtubeVideoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="youtubeVideoForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="youtubeVideoModalLabel">{% trans "Add Youtube video" %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="topic_uuid" value="{{ topic.uuid }}">
          <div class="mb-3">
            <label for="youtubeUrl" class="form-label">{% trans "Video URL" %}</label>
            <input type="url" class="form-control" id="youtubeUrl" name="url" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
          <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
