{% load i18n %}
<div class="modal fade" id="createTopicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Create new topic" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createTopicForm">
                    <input type="hidden" id="suggestTopicsAbout" value="{% trans 'Current agenda' %}">
                    <div class="mb-3">
                        <label for="topicTitle" class="form-label">{% trans "Title" %}</label>
                        <input type="text" class="form-control" id="topicTitle" required>
                    </div>
                    <div id="suggestedTopicsList" class="list-group mb-3 d-none"></div>
                    <div class="modal-footer px-0">
                        <button type="button" class="btn btn-outline-secondary float-start me-auto" id="fetchTopicSuggestions">
                            <i class="bi bi-stars"></i>
                            {% trans "Get suggestions" %}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            {% trans "Create topic" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

