{% extends "base.html" %}

{% load static i18n humanize markdown_extras %}

{% block title %}{{ topic.title|default_if_none:_("Untitled")|default:_("Untitled") }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between pb-2 align-items-start">

    <div
        data-topic-uuid="{{ topic.uuid }}"
        data-topic-slug="{{ topic.slug|default:'' }}"
        data-topic-title="{{ topic.title|default_if_none:'' }}"
    >

        <h3 class="fs-5 d-flex align-items-center">

            <span class="d-md-inline">
            {% for keyword in topic.categories.all %}
                <a href="{% url 'topics_detail' slug=keyword.slug %}" class="text-info-emphasis text-decoration-none">{{ keyword.name }}</a>
                {% if not forloop.last %}
                    &middot;
                {% endif %}
            {% endfor %}
            </span>

        </h3>

        <h1 class="fs-3 d-flex align-items-center">

            <span id="topicTitleDisplay" data-untitled="{% trans "Untitled" %}">
                {{ topic.title|default_if_none:_("Untitled")|default:_("Untitled") }}
            </span>

            <button
                type="button"
                class="btn btn-outline-secondary btn-sm ms-3"
                data-bs-toggle="modal"
                data-bs-target="#editTopicTitleModal"
            >
                {% trans "Edit" %}
            </button>

        </h1>

        <div class="d-flex align-items-center">

            <p class="text-secondary small">

                {% url 'user_profile' username=topic.created_by.username as user_topics_url %}
                {% if topic.based_on %}
                    {% url 'topics_detail' username=topic.based_on.created_by.username slug=topic.based_on.slug as based_on_url %}
                    {% blocktrans with created_date=topic.created_at|date created_by=topic.created_by modified_ago=topic.updated_at|timesince based_on_user=topic.based_on.created_by %}Created by <a class="text-info-emphasis" href="{{ user_topics_url }}">{{ created_by }}</a> on {{ created_date }}; updated {{ modified_ago }} ago; based on <a class="text-info-emphasis" href="{{ based_on_url }}">{{ based_on_user }}'s version</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans with created_date=topic.created_at|date created_by=topic.created_by modified_ago=topic.updated_at|timesince %}Created by <a class="text-info-emphasis" href="{{ user_topics_url }}">{{ created_by }}</a> on {{ created_date }}; updated {{ modified_ago }} ago.{% endblocktrans %}
                {% endif %}

                {% if topic.status == "draft" %}
                    <span class="badge bg-warning  pill ms-1">{% trans "Draft" %}</span>
                {% elif topic.status == "archived" %}
                    <span class="badge bg-secondary  pill ms-1">{% trans "Archived" %}</span>
                {% endif %}

            </p>

        </div>

    </div>

    <div class="d-flex align-items-start">

        {% if topic.status == 'draft' %}
            <button class="btn btn-outline-primary btn-sm me-1" id="publishTopicBtn" data-status="published">
                {% trans "Publish" %}
            </button>
        {% endif %}

        <a class="btn btn-outline-secondary btn-sm align-self-start" href="{% url 'topics_detail' slug=topic.slug username=topic.created_by.username %}">
            {% trans "Exit" %}
        </a>

    </div>

</div>

<div class="alert alert-warning p-2" role="toolbar">

    <div class="d-flex justify-content-between">

        <div class="gap-2">
            {% include "topics/recaps/button.html" %}
            {% include "topics/data/button.html" %}
            {% include "topics/documents/button.html" %}
            {% include "topics/narratives/button.html" %}
            {% include "topics/images/button.html" %}
            {% include "topics/embeds/button.html" %}
            {% include "topics/relations/button.html" %}
            {% include "topics/timeline/button.html" %}
            {% if mcp_servers %}
                {% include "topics/mcps/button.html" %}
            {% endif %}
        </div>

        <div class="gap-2">
            <span class="small text-secondary mx-2">This topic is {{ topic.status }}.</span>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-8">

        {% include "topics/images/card.html" with edit_mode=True %}
        {% include "topics/images/confirm_delete.html" %}

        {% include "topics/recaps/card.html" with edit_mode=True %}
        {% include "topics/recaps/confirm_delete.html" %}

        {% include "topics/data/card.html" with edit_mode=True %}

        {% include "topics/data/visualization_card.html" with edit_mode=True %}

        {% include "topics/narratives/card.html" with edit_mode=True %}
        {% include "topics/narratives/confirm_delete.html" %}

        {% include "topics/embeds/card.html" with edit_mode=True %}

        {% include "topics/relations/card.html" with edit_mode=True %}
        {% include "topics/relations/confirm_delete.html" %}

        {% include "topics/timeline/confirm_delete.html" %}

    </div>


    <div class="col-12 col-lg-4">

        {% if related_events %}
        <div class="card mt-3">
          <div class="card-body" id="relatedEventsContainer" data-empty-message="{% trans 'No related events' %}">
            <div class="card-title d-flex justify-content-between">
                <h6 class="fs-5">
                    {% trans "Timeline" %}
                </h6>
            </div>
            {% for event in related_events %}
                {% include "agenda/event_list_item.html" with event=event show_remove=True show_add=False %}
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if timeline %}

            <div class="card mt-3">

              <div class="card-body">

                <div class="card-title d-flex justify-content-between">
                    <h6 class="fs-5">
                        {% trans "Timeline" %}
                    </h6>
                </div>

                <div class="position-relative mt-4">

                {% for timeline_topic in timeline %}

                  <div class="d-flex">
                    <!-- Dot and Line -->
                    <div class="position-relative me-3">
                        <span class="position-absolute top-0 start-0 translate-middle {% if topic.id == timeline_topic.id %}bg-dark{% else %}bg-dark-subtle{% endif %} rounded-circle p-1">
                        </span>
                        <div class="h-100 border-start border-1 border-dark-subtle"></div>
                    </div>
                    <!-- Content -->
                    <div class="{% if not forloop.last %}mb-4{% endif %}" style="margin-top: -.65rem;">
                      <small class="text-secondary d-block">{{ timeline_topic.event_date }}</small>
                      {% if topic.id == timeline_topic.id %}
                          <span class="text-dark fw-semibold">
                              {{ timeline_topic.name }}
                          </span>
                      {% else %}
                          <a href="{{ timeline_topic.get_absolute_url }}" class="text-decoration-none text-info-emphasis">
                              {{ timeline_topic.name }}
                          </a>
                      {% endif %}
                    </div>
                  </div>

                {% endfor %}

                </div>

              </div>

            </div>

        {% endif %}

        {% include "topics/documents/card.html" with documents=documents webpages=webpages %}

    </div>

</div>


{% include "topics/topic_title_modal.html" %}
{% include "topics/mcps/modal.html" %}
{% include "topics/documents/modal.html" %}
{% include "topics/recaps/modal.html" %}
{% include "topics/data/modal.html" %}
{% include "topics/data/analyze_modal.html" %}
{% include "topics/data/visualize_modal.html" %}
{% include "topics/narratives/modal.html" %}
{% include "topics/images/modal.html" %}
{% include "topics/embeds/modal.html" %}
{% include "topics/relations/modal.html" %}
{% include "topics/timeline/modal.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="{% static 'topics/topic_events.js' %}"></script>
    <script src="{% static 'topics/topic_publish.js' %}"></script>
    <script src="{% static 'topics/topic_title.js' %}"></script>
    <script src="{% static 'topics/generation_button.js' %}"></script>
    {% include "topics/recaps/scripts.html" %}
    {% include "topics/data/scripts.html" %}
    {% include "topics/documents/scripts.html" %}
    {% include "topics/narratives/scripts.html" %}
    {% include "topics/images/scripts.html" %}
    {% include "topics/embeds/scripts.html" %}
    {% include "topics/relations/scripts.html" %}
    {% include "topics/timeline/scripts.html" %}
    {% include "topics/mcps/scripts.html" %}
    <script src="{% static 'topics/status_checker.js' %}"></script>
{% endblock %}
