<!DOCTYPE html>

{% load static i18n %}

{% get_current_language as CURRENT_LANGUAGE %}

<html lang="{{ CURRENT_LANGUAGE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">

    <title>{% block title %}Semantic.news{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://fastly.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fastly.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- ECharts -->
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

    <!-- Chart.js -->
    <script src="https://fastly.jsdelivr.net/npm/chart.js"></script>

    <!-- Mustache.js -->
    <script src="https://fastly.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>


    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
        }

        .form-check-input {
            border-color: #f8f9fa; /* Light color, you can adjust as needed */
        }

        .form-check-input:checked {
            background-color: #198754; /* Light color, you can adjust as needed */
        }

        .form-check-input:focus {
            border-color: #f8f9fa; /* Keep the border color consistent */
            box-shadow: none; /* Remove the default focus box-shadow */
        }

    </style>

    {% block extra_head %}{% endblock %}
</head>

<body>


    <nav class="navbar navbar-expand bg-dark small mb-2" data-bs-theme="dark">
        <div class="container">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link p-0 active" role="button" href="/">
                        semantic.news
                    </a>
                </li>

                {% comment %}
                <li class="nav-item">
                    <div class="form-check form-switch text-light shadow-none mb-0">
                        <input class="form-check-input shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{% trans "Enable notifications" %}</label>
                    </div>
                </li>
                {% endcomment %}

                <li class="nav-item dropdown mx-2">

                    <a class="nav-link p-0 active" role="button" data-bs-toggle="dropdown" href="#">
                        <i class="bi bi-globe"></i>
                        {{ CURRENT_LANGUAGE|upper }}
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden"
                                       value="{% if request.get_full_path == '/nedir/' %}/en/nedir/{% elif request.get_full_path == '/cerezler/' %}/en/cerezler/{% elif request.get_full_path == '/gizlilik/' %}/en/gizlilik/{% else %}{{ request.get_full_path }}{% endif %}">
                                <button name="language" type="submit" value="en" class="dropdown-item">
                                    English
                                </button>
                            </form>
                        </li>
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{% if request.get_full_path|slice:':4' == '/en/' %}{{ request.get_full_path|slice:'3:' }}{% endif %}">
                                <button name="language" type="submit" value="tr" class="dropdown-item">
                                    Türkçe
                                </button>
                            </form>
                        </li>
                    </ul>

                </li>

                <!-- About Page -->
                <li class="nav-item mx-2">
                    <a class="nav-link p-0 active"
                    {% if CURRENT_LANGUAGE == "en" %}
                       href="/en/nedir/"
                    {% else %}
                       href="/nedir/"
                    {% endif %}
                    >
                        <i class="bi bi-info-circle"></i>
                    </a>
                </li>


            </ul>

            <ul class="navbar-nav ms-auto">

                <li class="nav-item mx-2">
                    <a id="btnOffcanvasMenu" class="nav-link p-0 active" aria-current="page" href="#bookmarksOffcanvas" data-bs-toggle="offcanvas">
                        <i class="bi bi-bookmark"></i>
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown mx-2">

                    <a class="nav-link p-0 active" role="button" data-bs-toggle="dropdown" href="#">
                        <i class="bi bi-person-fill"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>
                            <a href="{% url 'user_profile' username=request.user.username %}" class="dropdown-item">
                                {% trans "Profile" %}
                            </a>
                            <a href="{% url 'profile_settings' %}" class="dropdown-item">
                                {% trans "Settings" %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'logout' %}" class="dropdown-item">
                                {% trans "Logout" %}
                            </a>
                        </li>

                    </ul>

                </li>
                {% else %}
                <li class="nav-item mx-2">
                    <a class="nav-link p-0 active" href="{% url 'login' %}">{% trans "Login" %}</a>
                </li>
                {% endif %}

            </ul>

        </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light nav-underline">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span class="lead fs-4">Welcome!</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav mr-auto me-auto">

                </ul>

                <!-- Search form -->
                <form action="{% url 'search_results' %}" class="d-flex flex-fill justify-content-end" autocomplete="off" id="navSearchForm">
                    <div class="input-group w-75">
                        <!-- Spinner Element (initially hidden) -->
                        <span id="searchSpinner" class="input-group-text border-0 rounded-0 bg-white" style="display:none;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </span>
                        <input name="q" autocomplete="off" required value="{{ search_query }}" class="form-control shadow-none border-0 border-bottom rounded-0" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
                        <span class="input-group-text border-0 border-bottom rounded-0 bg-white">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </nav>


    <div class="container mt-md-4 mb-4">
        {% block content %}
        <!-- Default content will go here if none is provided -->
        {% endblock %}
    </div>


<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-4">
    </div>
</div>



<div class="offcanvas offcanvas-start" tabindex="-1" id="bookmarksOffcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">{% trans "Bookmarks" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="bookmarks-offcanvas-body">
    </div>
</div>


<script src="https://fastly.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>


{% block extra_js %}{% endblock %}


<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>


</body>

</html>
