{% extends "base.html" %}

{% load static i18n %}


{% block content %}

<div class="container">

    <div class="row h-100">

        <div class="col-12 col-md-8">

            {% for topic in topics %}

                {% include "topics/topics_list_item.html" %}

            {% endfor %}

        </div>

        <div class="col-12 col-md-4">
            {% for event in events %}
                {% include "agenda/event_list_item.html" %}
            {% empty %}
                <p>{% trans "No upcoming events" %}</p>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}
