{% load i18n %}
<div class="modal fade" id="dataVisualizeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Visualize data" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <form id="dataVisualizeForm">
                    <input type="hidden" name="topic_uuid" value="{{ topic.uuid }}">
                    <div class="mb-3">
                        {% for insight in data_insights %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="insight_id" id="visualizeInsight{{ insight.id }}" value="{{ insight.id }}"{% if forloop.first %} checked{% endif %}>
                            <label class="form-check-label" for="visualizeInsight{{ insight.id }}">{{ insight.insight }}</label>
                        </div>
                        {% empty %}
                        <p class="text-secondary mb-0">{% trans "No insights available" %}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer px-0">
                        <button type="button" class="btn btn-outline-secondary float-start me-auto" id="visualizeDataBtn"{% if not data_insights %} disabled{% endif %}>{% trans "Visualize" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
