{% load i18n %}
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="imageForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="imageModalLabel">{% trans "Create cover illustration" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="topic_uuid" value="{{ topic.uuid }}">
                    <div class="mb-3">
                        <label for="imageStyle" class="form-label">{% trans "Style" %}</label>
                        <select class="form-select" name="style" id="imageStyle">
                            <option value="default" selected>{% trans "Default" %}</option>
                            <option value="photo">{% trans "Photo" %}</option>
                            <option value="illustration">{% trans "Illustration" %}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
