
{% load i18n %}

<div class="mb-3" data-event-uuid="{{ event.uuid }}">
    <p class="text-secondary small mb-0">
        {{ event.date|date:"M d, Y" }}
        {% for category in event.categories.all %}
            &middot; {{ category }}
        {% endfor %}
    </p>
    <h2 class="fs-6">
        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
    </h2>
    <p>
        {% for source in event.sources.all %}
            <a class="small text-secondary" target="_blank" href="{{ source }}">{{ source.get_domain }}</a>
            {% if not forloop.last %}&middot;{% endif %}
        {%  endfor %}
    </p>
    {% if show_add and request.user == event.created_by %}
        <button type="button"
                class="btn btn-sm btn-outline-primary mt-2 add-event-btn"
                data-event-uuid="{{ event.uuid }}"
                data-add-label="{% trans 'Add' %}"
                data-remove-label="{% trans 'Remove' %}">
            {% trans "Add" %}
        </button>
    {% endif %}
    {% if show_remove and request.user == event.created_by %}
        <button type="button"
                class="btn btn-sm btn-outline-danger mt-2 remove-event-btn"
                data-event-uuid="{{ event.uuid }}"
                data-add-label="{% trans 'Add' %}"
                data-remove-label="{% trans 'Remove' %}">
            {% trans "Remove" %}
        </button>
    {% endif %}
</div>

