{% extends "base.html" %}

{% load static i18n humanize markdown_extras %}

{% block title %}{{ topic.title }}{% endblock %}


{% block content %}

<div class="container">

    <button id="addEventBtn" class="btn btn-primary mb-3">{% trans "Add event" %}</button>

    <div class="row h-100">

        <div class="col-12 col-md-8">

            {% for event in events %}

                <h2 class="fs-4">{{ event.title }}</h2>

            {% endfor %}

        </div>

        <div class="col-12 col-md-4">


        </div>

    </div>

</div>

{% include "agenda/event_modal.html" %}

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'agenda/event_modal.js' %}"></script>
{% endblock %}

