{% load i18n %}
<div class="modal fade" id="timelineModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Add event to topic" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs mb-3" id="eventModalTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="create-tab" data-bs-toggle="tab" data-bs-target="#createPane" type="button" role="tab">
                {% trans "Add new" %}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="fetch-tab" data-bs-toggle="tab" data-bs-target="#fetchPane" type="button" role="tab">
                <i class="bi bi-stars"></i>
                {% trans "Get suggestions" %}
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="createPane" role="tabpanel">
            <form id="addEventForm">
              <div class="mb-3">
                <label for="eventDate" class="form-label">{% trans "Date" %}</label>
                <input type="date" class="form-control" id="eventDate" required>
              </div>
              <div class="mb-3">
                <label for="eventTitle" class="form-label">{% trans "Title" %}</label>
                <input type="text" class="form-control" id="eventTitle" required>
              </div>
              <div id="similarEvents"></div>
              <div class="modal-footer px-0">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="fetchPane" role="tabpanel">
            <form id="suggestEventsForm" class="mb-3">
              <div class="mb-3">
                <label for="suggestLocality" class="form-label">{% trans "Locality" %}</label>
                <select class="form-select" id="suggestLocality">
                  <option value="">{{ default_locality_label|default:_("Global") }}</option>
                  {% if localities %}
                    {% for locality in localities %}
                      <option value="{{ locality.code }}" data-label="{{ locality.label }}">{{ locality.label }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="mb-3">
                <label for="suggestStartDate" class="form-label">{% trans "Start date" %}</label>
                <input type="date" class="form-control" id="suggestStartDate">
              </div>
              <div class="mb-3">
                <label for="suggestEndDate" class="form-label">{% trans "End date" %}</label>
                <input type="date" class="form-control" id="suggestEndDate">
              </div>
              <button type="submit" class="btn btn-primary">{% trans "Get suggestions" %}</button>
            </form>
            <div id="suggestedEventsList" class="d-none">
              <p>{% trans "Loading suggestions..." %}</p>
            </div>
            <div class="modal-footer px-0">
              <button type="button" class="btn btn-primary" id="addSuggestedEventsBtn" disabled>{% trans "Add selected" %}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
