{% load i18n %}
<div class="btn-group" role="group">
    <button
        type="button"
        class="btn btn-outline-secondary btn-sm dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"{% if topic.status == 'archived' %} disabled{% endif %}>
        {% trans "Documents" %}
    </button>
    <ul class="dropdown-menu">
        <li>
            <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#topicDocumentModal"{% if topic.status == 'archived' %} disabled{% endif %}>
                <i class="bi bi-file-earmark-text me-2"></i>
                {% trans "Add document" %}
            </button>
        </li>
        <li>
            <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#topicWebpageModal"{% if topic.status == 'archived' %} disabled{% endif %}>
                <i class="bi bi-globe me-2"></i>
                {% trans "Add webpage" %}
            </button>
        </li>
    </ul>
</div>
